# **Demography of Coders in 2020**

> Indented block


In this notebook, I will try to answer how the age and country can affect people to learn about code


1.   What is the age range trend of coders?
2.   What is the most used programming language in an age range?
3.   How is the correlation between 1st age code and years code in a country based on its age range?

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

We load Pandas, Numpy, and pyplot for this project. This libraries will be heavily used for this project

**Load and Filter Data needed**

For understanding the data, we only use the desired column to answer the question above.
The desired columns are mainly about the background of respondent.

In [30]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
# Load data from csv
df = pd.read_csv('/content/drive/MyDrive/Dataset Udacity/Stack Overflow 2020/survey_results_public.csv')

# Show only the desired column
column = ['MainBranch','Age1stCode','Country','Hobbyist','YearsCode']

df = df[column]

df.head()

                                          MainBranch  ... YearsCode
0                     I am a developer by profession  ...        36
1                     I am a developer by profession  ...         7
2                        I code primarily as a hobby  ...         4
3                     I am a developer by profession  ...         7
4  I used to be a developer by profession, but no...  ...        15

[5 rows x 5 columns]

We won't use the unknown data

In [32]:
df = df.dropna()

In [33]:
df['Age1stCode'] = df['Age1stCode'].apply(pd.to_numeric, errors='coerce')
df['YearsCode'] = df['YearsCode'].apply(pd.to_numeric, errors='coerce')
pd.options.display.float_format = '{:,.0f}'.format

df['Age'] = df.Age1stCode + df.YearsCode
df.head()

                                          MainBranch  ...  Age
0                     I am a developer by profession  ...   49
1                     I am a developer by profession  ...   26
2                        I code primarily as a hobby  ...   19
3                     I am a developer by profession  ...   25
4  I used to be a developer by profession, but no...  ...   31

[5 rows x 6 columns]

In [38]:
class_list = [0,9.9,19.9,29.9,39.9,49.9,59.9,69.9]
class_name = ['00s','10s', '20s', '30s', '40s','50s','60s']

df['AgeTrend'] = pd.cut(df['Age'], class_list , labels = class_name)
df.loc[df['Age1stCode'].min()]

MainBranch    I am a developer by profession
Age1stCode                                14
Country                              Germany
Hobbyist                                  No
YearsCode                                  6
Age                                       20
AgeTrend                                 20s
Name: 5, dtype: object