# **Demography of Coders in 2020**

> Indented block


In this notebook, I will try to answer how the age and country can affect people to learn about code


1.   What is the age range trend of coders?
2.   What is the most used programming language in an age range?
3.   How is the correlation between 1st age code and years code in a country based on its age range?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

We load Pandas, Numpy, and pyplot for this project. This libraries will be heavily used for this project

**Load and Filter Data needed**

For understanding the data, we only use the desired column to answer the question above.
The desired columns are mainly about the background of respondent.

In [2]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Load data from csv
df = pd.read_csv('/content/drive/MyDrive/Dataset Udacity/Stack Overflow 2020/survey_results_public.csv')

# Show only the desired column
column = ['MainBranch','Age1stCode','Country','Hobbyist','YearsCode']

df = df[column]

df.head()

MainBranch    64162
Age1stCode    57900
Country       64072
Hobbyist      64416
YearsCode     57684
dtype: int64

We won't use the unknown data

In [17]:
df = df.dropna()

In [18]:
df['Age1stCode'] = df['Age1stCode'].apply(pd.to_numeric, errors='coerce')
df['YearsCode'] = df['YearsCode'].apply(pd.to_numeric, errors='coerce')
pd.options.display.float_format = '{:,.0f}'.format

df['Age'] = df.Age1stCode + df.YearsCode
df.head()

                                          MainBranch  Age1stCode  ... YearBorn Age
0                     I am a developer by profession          13  ...       49  49
1                     I am a developer by profession          19  ...       26  26
2                        I code primarily as a hobby          15  ...       19  19
3                     I am a developer by profession          18  ...       25  25
4  I used to be a developer by profession, but no...          16  ...       31  31

[5 rows x 7 columns]

In [28]:
buckets = [0,10, 20, 30, 40, 50,60,70]
buckets_name = ['00s','10s', '20s', '30s', '40s','50s','60s']

df['AgeTrend'] = pd.cut(df['Age'], buckets , labels = buckets_name)
df.head()
df.loc[df['Age'].max()]

MainBranch    I am a developer by profession
Age1stCode                                17
Country                              Germany
Hobbyist                                 Yes
YearsCode                                 46
YearBorn                                  63
Age                                       63
AgeTrend                                 60s
Name: 135, dtype: object