# **Demography of Coders in 2020**

> Indented block


In this notebook, I will try to answer how the age and country can affect people to learn about code


1.   What is the age trend of coders?
2.   
3.   How is the correlation between people in a country to

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

We load Pandas, Numpy, and pyplot for this project. This libraries will be heavily used for this project

**Load and Filter Data needed**

For understanding the data, we only use the desired column to answer the question above.
The desired columns are mainly about the background of respondent.

In [2]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
# Load data from csv
df = pd.read_csv('/content/drive/MyDrive/Dataset Udacity/Stack Overflow 2020/survey_results_public.csv')

# Show only the desired column
column = ['MainBranch','Age1stCode','Country','Hobbyist','YearsCode']

df = df[column]

df.head()
df.count()

MainBranch    64162
Age1stCode    57900
Country       64072
Hobbyist      64416
YearsCode     57684
dtype: int64

We won't use the unknown data

In [23]:
df = df.dropna()
df.count()

MainBranch    57410
Age1stCode    57410
Country       57410
Hobbyist      57410
YearsCode     57410
dtype: int64

In [35]:
df['Age1stCode'] = df['Age1stCode'].apply(pd.to_numeric, errors='coerce')
df['YearsCode'] = df['YearsCode'].apply(pd.to_numeric, errors='coerce')
pd.options.display.float_format = '{:,.0f}'.format

df['YearBorn'] = 2020 - df.Age1stCode - df.YearsCode
df.head()

                                          MainBranch  ...  YearBorn
0                     I am a developer by profession  ...     1,971
1                     I am a developer by profession  ...     1,994
2                        I code primarily as a hobby  ...     2,001
3                     I am a developer by profession  ...     1,995
4  I used to be a developer by profession, but no...  ...     1,989

[5 rows x 6 columns]